.game-board {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    background-color: aqua;
    border-radius: 15px;
}

.land {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 150px;
    height: 150px;
    background-color: sandybrown;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 75px
}

.nest-sprite {
    margin: 0;
    position: absolute;
    right: 0;
    font-size: 6rem;
}

.duck-sprite {
    margin: 0;
    position: absolute;
    right: 0;
    font-size: 4rem;
}