body {
    background-color: rgb(232, 232, 223);
}

h1, h2, h3, p {
    font-family: 'Courier New', Courier;
    color:rgb(34, 119, 122)
}

img {
    border-radius: 50px;
}

.description {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
}