body {
    background-color: rgb(232, 232, 223);
    padding: 30px;
}

h1, h2, h3, p, .container-fluid {
    font-family: 'Courier New', Courier;
    color:rgb(34, 119, 122)
}

img {
    border-radius: 50px;
}

.description {
    width: 600px;
}

.right {
    padding-left: 100px;
}

.container-fluid {
    margin-bottom: 30px;
    border-radius: 10px;
}

.navBar {
    background-color:rgb(34, 119, 122, 0.6);
    padding: 5px;
}

.btn-outline-success {
    background-color: rgb(232, 232, 223);
    color: rgb(34, 119, 122);
    border-color: rgb(232, 232, 223);
}

.btn-outline-success:hover {
    background-color:rgb(34, 119, 122);
    color: rgb(232, 232, 223);
    border-color: rgb(34, 119, 122);
}

.checked {
    text-decoration: line-through;
    color: rgb(104, 104, 101);
}
