body {
    background: bisque;
    /*background: #fab1a0;
    background-color: #2e4140;*/
    scroll-behavior: smooth;
    font-family: 'Inter Tight', sans-serif;
}

.container {
    max-width: 1000px;
}

.text-body.link:hover {
    color: red !important;
    text-decoration: line-through;
    font-size: medium;
    background-color: yellow;
}

.space {
    padding-right: 10px;
}

#profilePhoto {
    width: 100%;
}

.projects {
    background-color: rgba(122, 195, 237, 0.2);
    border-radius: 15px;
    padding: 25px;
   
}