body {
    background: bisque;
    /*background: #fab1a0;
    background-color: #2e4140;*/
    scroll-behavior: smooth;
    font-family: 'Inter Tight', sans-serif;
}

.container {
    max-width: 1000px;
    padding-bottom: 15px;
}
#hero {
    align-items: center;
}

#profilePhoto {
    width: 100%;
    transition: box-shadow 0.3s ease;
}

#profilePhoto:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

.text-body.link:hover {
    color: red !important;
    text-decoration: line-through;
    font-size: medium;
    background-color: yellow;
}

#works {
    margin-top: 50px;
}

.space {
    padding-right: 10px;
}

#profilePhoto {
    width: 100%;
}

.col-12.col-md-4 {
    width: 25%;
}

.projects {
    background-color: rgba(122, 195, 237, 0.2);
    border-radius: 15px;
    padding: 25px;
   
}

.projectsShadow:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

.iconShadow:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

#project2Tech {
    padding-bottom: 15px;
}

@media (max-width: 750px) {
    .navbar-collapse {
        background: rgba(122, 195, 237, 0.2);
        padding: 10px;
        border-radius: 15px;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}