body {
    background: bisque;
    /*background: #fab1a0;
    background-color: #2e4140;*/
    scroll-behavior: smooth;
    font-family: 'Inter Tight', sans-serif;
}

.container {
    max-width: 1000px;
    padding-bottom: 15px;
}

.text-body.link:hover {
    color: navy !important;
    text-decoration: line-through;
    font-size: medium;
    background-color: rgba(122, 195, 237, 0.2);
    border-radius: 10px;
    padding: 5px;
}

.space {
    padding-right: 10px;
}

@media (max-width: 750px) {
    .navbar-collapse {
        background: rgba(122, 195, 237, 0.2);
        padding: 10px;
        border-radius: 15px;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .link {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
}

#hero {
    align-items: center;
    padding-top: 25px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

#profilePhoto {
    width: 80%;
    padding-bottom: 20px;
    max-width: 150px;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

@media (min-width: 768px) {
    #profilePhoto {
        width: 70%;
        max-width: 300px;
    }
}

#profilePhoto:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

#works {
    margin-top: 50px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.projects {
    background-color: rgba(122, 195, 237, 0.2);
    border-radius: 15px;
    padding: 25px;
   
}

.projectsShadow:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

#project2Tech {
    padding-bottom: 25px;
}

#formTitle {
    margin-bottom: 15px;
}

#contact {
    margin-top: 35px;
    padding: 35px;
    border-radius: 15px;
    background-color: rgba(122, 195, 237, 0.2);
}

.contactForm {
    margin-bottom: 20px;
}

.contactForm label {
    display: block;
    margin-bottom: 5px;
}

.contactForm input {
    background-color: bisque;
    border: none;
    border-radius: 10px;;
    padding: 10px;
}

.contactForm input#note {
    height: 200px;
    width: 50%;
    padding-bottom: 150px;
}

@media (max-width: 750px) {
    .contactForm input#note {
        height: 200px;
        width: 100%;
        padding-bottom: 150px;
    }  
}

.contactForm button {
    background-color: bisque;
    border: none;
    border-radius: 10px;
    margin-top: 26px;
    padding: 24px;
}

.contactForm button:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}