body {
    background: bisque;
    /*background: #fab1a0;*/
}

.links a.text-decoration-none.text-body.link:hover {
    color: red !important;
    text-decoration: line-through !important;
    font-size: medium !important;
    background-color: yellow !important;
}

#space {
    padding-right: 10px;
}
/* This color is niceeeee!
background-color: #2e4140; */